<div class="row justify-content-md-center">
    <div class="col-sm-4 mt-4">
        <form [formGroup]="f" novalidate>
            <h4>Filtro para países</h4>             
            <div class="form-group">
                <label for="iso">Iso</label>
                <input id="iso" type="text" class="form-control validate" required="" formControlName="iso">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="infoCountry()" [disabled]="f.invalid">Buscar</button>
            </div>
            <div class="alert alert-success"  *ngIf="isLoadingResults && !displayErrors">Cargando datos...</div>
            <div class="alert alert-warning" *ngIf="displayErrors">{{error}}</div>
            <div class="alert alert-danger" *ngIf="f.controls.iso.errors && f.controls.iso.errors.required && !displayErrors">
                El campo iso es requerido
            </div>
            <div class="alert alert-danger" *ngIf="f.controls.iso.errors && f.controls.iso.errors.minlength">
                El campo iso debe tener mínimo {{f.controls.iso.errors.minlength.requiredLength}} caractéres, 
                actualmente solo tiene {{f.controls.iso.errors.minlength.actualLength}} caractéres
            </div>
            <div class="alert alert-danger" *ngIf="f.controls.iso.errors && f.controls.iso.errors.maxlength">
                El campo iso debe tener máximo {{f.controls.iso.errors.maxlength.requiredLength}} caractéres, 
                actualmente solo tiene {{f.controls.iso.errors.maxlength.actualLength}} caractéres
            </div>
            <div class="alert alert-danger" *ngIf="f.controls.iso.errors && f.controls.iso.errors.pattern">
                El campo iso debe ser alfa numérico
            </div>
        </form> 
    </div>  
    <div class="col-sm-12" *ngIf="!isLoadingResults">
        <pre>{{country | json}}</pre>
    </div>  
</div>
